# Data types
 *  Numbers
 *  Strings
 *  Printing
 *  Lists
 *  Dictionaries
 *  Booleans
 *  Tuples
 *  Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

In [1]:
12+12

24

In [2]:
a=12

In [4]:
type(a)

int

In [5]:
12+52  #addition

64

In [6]:
3-2 #substration

1

In [7]:
23*2      #multiplication

46

In [9]:
50/4    # division

12.5

In [10]:
50//4   #floor division

12

In [11]:
50%4    #mould it gives reminder

2

In [12]:
2**3    #**means rase to 3

8

In [13]:
#pythons to basic two types integer and float

In [14]:
55

55

In [15]:
type(55)

int

In [16]:
55.5

55.5

In [17]:
type(55.5)

float

In [18]:
int(55.5)  #convert to intiger

55

In [20]:
float(50)    #convert to float

50.0

In [21]:
2+3*6+2

22

In [22]:
(2+3)*(6+2)

40

# Variable Assignment

In [41]:
x=2

In [42]:
y=5

In [43]:
x+y

7

In [44]:
x*y

10

In [45]:
x/y

0.4

In [46]:
x=x+x

In [47]:
x

4

In [48]:
x=x+x   #in this case x value is 4

In [49]:
x

8

In [50]:
#variable number can not be starts with number

# Strings:it is a sequence of characters enclosed in single qoute or double qoute

In [51]:
'hello'

'hello'

In [52]:
type('hello')

str

In [53]:
a="welcome to our home"

In [54]:
type(a)

str

In [55]:
'Single Quates'

'Single Quates'

In [56]:
"Double Quates"

'Double Quates'

In [57]:
print("welcome")

welcome

In [59]:
type(print("welcome"))    #once you can print something then this string can type none

welcome

NoneType

In [60]:
a=print("Hi, My name is {} and My brother name is {}".format('Ashish','Pradip'))

Hi, My name is Ashish and My brother name is Pradip

In [61]:
x='Ashish'
y='Pradip'

In [62]:
a=print("Hi, My name is {} and My brother name is {}".format(x,y))

Hi, My name is Ashish and My brother name is Pradip

In [68]:
a=print("Hi, My name is {p} and My brother name is {q}".format(q=y,p=x))

Hi, My name is Ashish and My brother name is Pradip

# Indexing String

In [69]:
w=("Hi, My name is Ashish and My brother name is Pradip")

In [73]:
w[0]  #indexing always starts with zero

'H'

In [74]:
w[1:6]

'i, My'

In [77]:
w[4:15:2]   # 4 is starting piont 
            # 15 is last point which is not considered
            # 2 is steps means difference

'M aei '

In [79]:
w[0:]   #slice notation

'Hi, My name is Ashish and My brother name is Pradip'

In [81]:
w[:]   #in that case consider start to end all

'Hi, My name is Ashish and My brother name is Pradip'

In [84]:
w[15:] #in this condition start 15 to end all points

'Ashish and My brother name is Pradip'

In [86]:
w[::-1] #In this condition all characters can be cosider and to reverse it

'pidarP si eman rehtorb yM dna hsihsA si eman yM ,iH'

In [88]:
w[:15:] #In this condition starts from starting and kast to 14 character and diifference is 1

'Hi, My name is '

In [89]:
w

'Hi, My name is Ashish and My brother name is Pradip'

In [90]:
w[-10:-20:-2]

' mnrh'

In [91]:
len(w)

51

In [92]:
w[40:20:-3]

'eneo  a'

# List - Are sequence of elements in a set of square bracket

In [93]:
# List can take any data type 
# List is also a sequence just like string is

In [94]:
[1,2,3]

[1, 2, 3]

In [95]:
type([1,2,3])

list

In [98]:
['hii',1.32,[1,2,3]]   # list in list it  can be possible

['hii', 1.32, [1, 2, 3]]

In [107]:
my_list=['a','b','c']

In [108]:
my_list.append(5)

In [109]:
my_list

['a', 'b', 'c', 5]

In [110]:
my_list.pop()   # pop can delete the last element

5

In [111]:
my_list

['a', 'b', 'c']

In [112]:
my_list[1]

'b'

In [113]:
my_list[:2]

['a', 'b']

In [114]:
my_list[1]="new"  # list can be muteble

In [115]:
my_list

['a', 'new', 'c']

In [116]:
b=['hii',1.32,[1,2,3]]

In [117]:
b[2]

[1, 2, 3]

In [118]:
b[2][1]

2

In [120]:
b[2][1:]   #if we can provide slice notation then we get output in list format

[2, 3]

In [121]:
b[2][1]='my new game'

In [122]:
b

['hii', 1.32, [1, 'my new game', 3]]

In [123]:
b[2][1][3:6]

'new'

In [124]:
print(b[2][1])

my new game

In [126]:
h=['hii', 1.32, [1, 'my new game', 3,[12,33,34,4,54,"we are getting late"]]]

In [127]:
h[2][3][5][6:-5]

' getting'

In [129]:
h[2][3][3]='good night'

In [130]:
h

['hii',
 1.32,
 [1, 'my new game', 3, [12, 33, 34, 'good night', 54, 'we are getting late']]]

# Dictionary - dictionarys behaves as key-value pair just like a hash table

In [156]:
d={'sunday':23,'monday':'holiday',12:'new'}  # Dictionary is inclosed in curli brackets

In [157]:
d['sunday']

23

In [159]:
d[1]   # In dict this is not work

KeyError: 1

In [138]:
d.keys()

dict_keys(['sunday', 'monday', 12])

In [139]:
d.values()

dict_values([23, 'holiday', 'new'])

In [140]:
d.items()

dict_items([('sunday', 23), ('monday', 'holiday'), (12, 'new')])

In [141]:
d[12]

'new'

In [142]:
d['monday']

'holiday'

In [152]:
d['monday']='weekend'  # Dictionary can be muteble  
                       # In Dictionary we can change the values

In [146]:
d

{'sunday': 23, 'monday': 'weekend', 12: 'new'}

In [149]:
d1={'sunday': 23, 'monday':['weekend','holiday','working day'], 'man':{'earth':{'gravity':[1,2,3,4,5]}}}

In [160]:
type(d1)   # A Dict nested inside another Dict

dict

In [151]:
d1['man']['earth']['gravity'][2]

3

In [154]:
d1['monday'][2]='festival'

In [155]:
d1

{'sunday': 23,
 'monday': ['weekend', 'holiday', 'festival'],
 'man': {'earth': {'gravity': [1, 2, 3, 4, 5]}}}

In [161]:
# Dict do not retain any order, theyb are just key value pair matches

# Booleans

In [162]:
True #capitalise T

True

In [163]:
False    #capitalise F

False

In [164]:
True+True   # True=1
            # False=0

2

In [165]:
True+False

1

In [166]:
False+False

0

# Tuples

In [167]:
t=(1,2,3,4,54,56,'new')    # tuple are immutable

In [168]:
type(t)

tuple

In [169]:
t[-1]

'new'

In [172]:
t[3]='jks'   # It is not possible becouse,tuple are immutable

TypeError: 'tuple' object does not support item assignment

In [174]:
t  # tuple is an orderd colllection of elements enclosed in paranthesis

(1, 2, 3, 4, 54, 56, 'new')

In [175]:
t[4]

54

In [1]:
# This is bcoz are immutable and they do not support items assignment and list are mutable

# Set - Set is a collection of unique elements

In [2]:
{1,2,3}

{1, 2, 3}

In [3]:
set_1={1,2,3,2,1,3,2,1,2,3,2,1,2,3,1,2,1,2}

In [5]:
set_1     # Only unique elements can taken, Repeated elements can not be taken repeat it can be taken once time

{1, 2, 3}

In [8]:
set_1.add(4)  # if you want to add the items in a set

In [9]:
set_1

{1, 2, 3, 4}

In [24]:
set_1.add(2)  # if you can add item can be already present in the set it gives you not error but set can take this item

In [25]:
set_1

{1, 2, 3, 4}

In [26]:
set_1.add(7,8)

TypeError: set.add() takes exactly one argument (2 given)

In [18]:
set([1,2,3,3,4,4]) # To convert the list to set

{1, 2, 3, 4}

In [27]:
set(1,2,3,4,5,6)   # In set it can be take only one argument more than one it can gives an error

TypeError: set expected at most 1 argument, got 6

In [23]:
set('ashsish')  # In this method it can be extend charactors

{'a', 'h', 'i', 's'}

# Comparison Operators

In [30]:
1<2  # 1 less than 2

True

In [31]:
1>2    # 1 is greater than 2

False

In [32]:
1==2   # 1 is Equal to 2

False

In [33]:
1!=2  # 1 is Not equal to 2

True

In [34]:
2>1

True

In [51]:
3<=5   # 3 is less than or equal to 5

True

In [1]:
4>=3

True

In [2]:
2>=4

False

In [3]:
2==3

False

In [36]:
'hi'=='bye'    # it can be becouse of ascii value 
               # ASCII- American Standard Code for Information Interchange

False

In [37]:
'hi'=='hi'

True

In [38]:
'hi'!='hi'

False

In [40]:
ord('a')        # Ascci number can be find with ord method

97

In [41]:
ord('A')        # Ascii number for capital letter and small latter should be different

65

In [42]:
# Logical Operators   and or

In [44]:
(1>2) and (3<4)   # False and True = False

False

In [45]:
(5<6) and (7==7)   # True and True = True

True

In [46]:
(9!=6) or (7!=7)   # True or False = True

True

In [49]:
(2>3) or (4<1)    # False or False = False

False

In [50]:
(4>2) or (3!=6)   # True or True = True

True

# if,elif,else Statement

In [4]:
if 4<=4:
    print("above condition is True")

above condition is True

In [1]:
# It note that there is block of white space beofre print which very important in python. 
# In python brackets are not used in order seperate block execution statement it uses white space instead.

In [2]:
if 2>4:
    print("first")

In [6]:
if 3<=3:
    b=55/6
    print("divison is:",b)

divison is: 9.166666666666666

In [8]:
if (3!=4) and (5<3):
    a=85*3
    print(a)
else:
    print("in and statement both statements are true")

in and statement both statements are true

In [9]:
if 3==3 or 3>7:
    print("new")

new

In [10]:
if 88<70:
    print('33')
elif 44>22:
    print('second')
else:
    print('third')

second

In [12]:
if 77!=77:   #false
    print("first")  
elif 55==55:   #true
    print("second")
elif 44==44:   #true
    print("last")
else:
    print("final last")

second

# for loops-allows you to iterate through sequence

In [13]:
a=(1,2,3,4,5)

In [14]:
for i in a:
    print(i)

1
2
3
4
5

In [15]:
for j in a:
    print("**")

**
**
**
**
**

In [16]:
for k in a:
    print('ashish')
    k=k+1

ashish
ashish
ashish
ashish
ashish

In [21]:
for h in a:
    h=h+1      #h=1+1
    print(h+h) #2+2

4
6
8
10
12

In [25]:
for i in range(1,11):
    i=i*2
    print(i)

2
4
6
8
10
12
14
16
18
20

In [26]:
w=(1,2,3,4,5,6,7,8,9,10)

In [27]:
v=3

In [28]:
for i in w:
    print(i*v)

3
6
9
12
15
18
21
24
27
30

In [35]:
r=12
s=(1,2)
for i in s:
    print(i)

1
2

# while loop

In [36]:
a=1
b=10
while a<=10:
    print(a*10)
    a=a+1

10
20
30
40
50
60
70
80
90
100

In [1]:
a=1
while a<5:
    print("my number is:{x}".format(x=a))
    a=a+1

my number is:1
my number is:2
my number is:3
my number is:4

In [2]:
a=1
while a<5:
    print("my number is:{}".format(a))
    a=a+1

my number is:1
my number is:2
my number is:3
my number is:4

In [4]:
v=1
while v<20:
    v=v+1
    if v%2==0:
        print(v)

2
4
6
8
10
12
14
16
18
20

# Range() is generator function

In [7]:
range(5)   # bydefault the starting number is zero

range(0, 5)

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [11]:
for v in range(2,21,2):
    print(v)

2
4
6
8
10
12
14
16
18
20

In [12]:
for k in range(3,31,3):
    if k%2==0:
        print(k)

6
12
18
24
30

In [ ]:
for new in range(5,51,5):
    if new%2!=0:
        print

In [13]:
# list comprehesion-it allow you to save a bunch of writing when you try to create for loop to create a list

In [1]:
new=[1,2,3,4,5]

In [8]:
output=[]   # empty list
for i in new:
    output.append(i)
print(output)

[1, 2, 3, 4, 5]

In [9]:
output

[1, 2, 3, 4, 5]

In [10]:
[x**2 for x in new]

[1, 4, 9, 16, 25]

In [11]:
out=[x*2 for x in new]

In [12]:
out

[2, 4, 6, 8, 10]

In [14]:
# function- it allows you to not write code over and over again

In [15]:
def self_1(name='yogesh'):
    return 'yogesh'

In [16]:
self_1()

'yogesh'

In [18]:
self_1

In [19]:
self_1("AShish")

'yogesh'

In [20]:
self_1(name='Ashish')

'yogesh'

In [21]:
def self_1(name='ashish'):
    return name

In [23]:
self_1()

'ashish'

In [24]:
self_1('Pradip')

'Pradip'

In [56]:
def good(new):
    print('good '+new)

In [29]:
good(' morning')

good  morning

In [30]:
good('night')

good night

In [31]:
good('news')

good news

In [32]:
def square(x):
    return x**2

In [33]:
square(5)

25

In [47]:
def same(name):
    print(name)

In [49]:
same('new')

new

In [50]:
same('jack')

jack

In [58]:
def my_fun(x):
    return x**3

In [59]:
my_fun(3)

27

In [60]:
my_fun(7886988)

490606773734723182272

# lambda expressions

In [62]:
def square(var):
    return var*2

In [63]:
square(4)

8

In [70]:
lambda var: var*2

In [71]:
t=(lambda var: var*2)

In [75]:
t(3)

6

# map and filter

In [83]:
seq=[1,2,3,4,5]

In [84]:
(lambda v: v**4,seq)

(<function __main__.<lambda>(v)>, [1, 2, 3, 4, 5])

In [87]:
new=(list(map(lambda v: v**4,seq)))

In [88]:
new

[1, 16, 81, 256, 625]

In [89]:
new=(list(filter(lambda v: v**4,seq)))

In [90]:
new

[1, 2, 3, 4, 5]

In [91]:
tuple(filter(lambda x: x%2==0,seq))

(2, 4)

In [92]:
tuple(map(lambda x: x%2==0,seq))

(False, True, False, True, False)

# Methods

In [7]:
st='hallo, my name is, ashish shinde'

In [8]:
st.upper()

'HALLO, MY NAME IS, ASHISH SHINDE'

In [9]:
st.split()  #split is done based on white space

['hallo,', 'my', 'name', 'is,', 'ashish', 'shinde']

In [11]:
st.split(',')  #split method by defoult will split the string on all the white space of that string and it covert to
                #the list

['hallo', ' my name is', ' ashish shinde']

In [12]:
tweet='go sports! #sports'

In [13]:
tweet

'go sports! #sports'

In [14]:
tweet.split()       # split is done based on white space

['go', 'sports!', '#sports']

In [15]:
tweet.split('#')   # split can be done based on perticular element

['go sports! ', 'sports']

In [16]:
tweet.split('#')[1]

'sports'

In [17]:
tweet

'go sports! #sports'

In [24]:
d={'key1':'value1','key2':'value2','key3':'value3'}

In [25]:
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [26]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [27]:
d.values()

dict_values(['value1', 'value2', 'value3'])

In [28]:
d.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [29]:
d['key1']

'value1'

In [30]:
d['key1']='new'

In [31]:
d

{'key1': 'new', 'key2': 'value2', 'key3': 'value3'}

In [32]:
d.popitem()

('key3', 'value3')

In [33]:
d

{'key1': 'new', 'key2': 'value2'}

In [34]:
d.pop('key1')

'new'

In [35]:
d

{'key2': 'value2'}

In [44]:
st=[1,2,3,4,5]

In [45]:
st.pop()  # it will pop or return last item in the list

5

In [46]:
st       # now calling list after pop,this change is permenent

[1, 2, 3, 4]

In [47]:
item=st.pop()

In [48]:
st

[1, 2, 3]

In [50]:
item  # last element is assigned to this variable

4

In [51]:
first=st.pop(0)

In [52]:
first

1

In [53]:
st

[2, 3]

In [54]:
st.append('gana')

In [55]:
st

[2, 3, 'gana']

In [56]:
'x' in ['x','y','z']

True

In [57]:
'z' in [1,2,3]

False

# tuple unpaking

In [59]:
x=[(1,2),(3,4),(5,6)]

In [60]:
for i in x:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [63]:
for (j,k) in x:
    print(j)

1
3
5

In [64]:
for (a,w) in x:
    print(w)

2
4
6

In [65]:
for (q,r) in x:
    print(q)
    print(r)

1
2
3
4
5
6